
$background-color: #191725;
$text-color: #cea6ba;
$brand-color: #ccccff;
$grey-color: #825282 !default;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark: darken($grey-color, 20%);